<div class="modal-header">
    <h3 class="modal-title"><span translate="TEXT.NAVIGATING_AWAY"></span><div id="loading" ng-show="ModalInstanceCtrl.saving" class="three-quarters-loader pull-right"></div></h3>
</div>
<div class="modal-body">
    <h4 translate="MESSAGE.NAVIGATING_AWAY"> </h4>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ModalInstanceCtrl.forgetMeeting()" translate="BUTTON.FORGET_MEETING"></button>
    <button class="btn btn-primary" type="button" ng-click="ModalInstanceCtrl.cancelModal()" translate="BUTTON.CONTINUE"></button>
    <button class="btn btn-warning" type="button" ng-click="ModalInstanceCtrl.saveDraft()" translate="BUTTON.SAVE_DRAFT"></button>
</div>
