<div class="container" style="padding-top: 66px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Send Email</h4>
                </div>
                <form id="meetBasics">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <td style="width: 20%; min-width: 120px;">To :</td>
                                <td>
                                    <input type="text" class="form-control" id="recepientEmail" name="recepientEmail" placeholder="Enter Recepient Emails">
                                </td>
                            </tr>
                            <tr>
                                <td>Subject :</td>
                                <td>
                                    <input type="text" class="form-control" id="emailSubject" name="emailSubject" placeholder="Enter Subject">
                                </td>
                            </tr>
                            <tr>
                                <td>Email Body :</td>
                                <td>
                                    <textarea class="form-control" rows="8" id="emailBody"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>Attachment :</td>
                                <td>
                                    <input type="file" class="filestyle" data-buttonBefore="true">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: left;">
                                    <a href="#/single_participants" class="pull-left"><button type="button" class="btn btn-primary"> &lt;&lt; Back</button></a>
                                </td>
                                <td colspan="2" style="text-align: right;">
                                    <a href="#/single_participants"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-envelope" style="color:#fff"></span> Send Email</button></a>
                                </td>
                            </tr>
                        </table>
                        <BR clear="all">
                        <BR clear="all">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>